/*Setup*/
.t-grid .t-row {
  width: 100%;
}
[class*="t-col-"] {
  float: left;
}
/*Grid Loops*/
/*12*/
.t-col-12-1 {
  width: 8.333333333333334%;
}
.t-col-12-2 {
  width: 16.666666666666668%;
}
.t-col-12-3 {
  width: 25%;
}
.t-col-12-4 {
  width: 33.333333333333336%;
}
.t-col-12-5 {
  width: 41.66666666666667%;
}
.t-col-12-6 {
  width: 50%;
}
.t-col-12-7 {
  width: 58.333333333333336%;
}
.t-col-12-8 {
  width: 66.66666666666667%;
}
.t-col-12-9 {
  width: 75%;
}
.t-col-12-10 {
  width: 83.33333333333334%;
}
.t-col-12-11 {
  width: 91.66666666666667%;
}
.t-col-12-12 {
  width: 100%;
}
/*16*/
.t-col-16-1 {
  width: 6.25%;
}
.t-col-16-2 {
  width: 12.5%;
}
.t-col-16-3 {
  width: 18.75%;
}
.t-col-16-4 {
  width: 25%;
}
.t-col-16-5 {
  width: 31.25%;
}
.t-col-16-6 {
  width: 37.5%;
}
.t-col-16-7 {
  width: 43.75%;
}
.t-col-16-8 {
  width: 50%;
}
.t-col-16-9 {
  width: 56.25%;
}
.t-col-16-10 {
  width: 62.5%;
}
.t-col-16-11 {
  width: 68.75%;
}
.t-col-16-12 {
  width: 75%;
}
.t-col-16-13 {
  width: 81.25%;
}
.t-col-16-14 {
  width: 87.5%;
}
.t-col-16-15 {
  width: 93.75%;
}
.t-col-16-16 {
  width: 100%;
}
/*10*/
.t-col-10-1 {
  width: 10%;
}
.t-col-10-2 {
  width: 20%;
}
.t-col-10-3 {
  width: 30%;
}
.t-col-10-4 {
  width: 40%;
}
.t-col-10-5 {
  width: 50%;
}
.t-col-10-6 {
  width: 60%;
}
.t-col-10-7 {
  width: 70%;
}
.t-col-10-8 {
  width: 80%;
}
.t-col-10-9 {
  width: 90%;
}
.t-col-10-10 {
  width: 100%;
}
/*14*/
.t-col-14-1 {
  width: 7.142857142857143%;
}
.t-col-14-2 {
  width: 14.285714285714286%;
}
.t-col-14-3 {
  width: 21.42857142857143%;
}
.t-col-14-4 {
  width: 28.571428571428573%;
}
.t-col-14-5 {
  width: 35.714285714285715%;
}
.t-col-14-6 {
  width: 42.85714285714286%;
}
.t-col-14-7 {
  width: 50%;
}
.t-col-14-8 {
  width: 57.142857142857146%;
}
.t-col-14-9 {
  width: 64.28571428571429%;
}
.t-col-14-10 {
  width: 71.42857142857143%;
}
.t-col-14-11 {
  width: 78.57142857142857%;
}
.t-col-14-12 {
  width: 85.71428571428572%;
}
.t-col-14-13 {
  width: 92.85714285714286%;
}
.t-col-14-14 {
  width: 100%;
}
