.t-right {
  float: right;
}
.t-left {
  float: left;
}
.t-center {
  text-align: center;
}
.t-padding-1 {
  padding: 0.25em;
}
.t-margin-1 {
  margin: 0.25em;
}
.t-padding-2 {
  padding: 0.5em;
}
.t-margin-2 {
  margin: 0.5em;
}
.t-padding-3 {
  padding: 0.75em;
}
.t-margin-3 {
  margin: 0.75em;
}
.t-padding-4 {
  padding: 1em;
}
.t-margin-4 {
  margin: 1em;
}
.t-padding-5 {
  padding: 1.25em;
}
.t-margin-5 {
  margin: 1.25em;
}
.t-padding-6 {
  padding: 1.5em;
}
.t-margin-6 {
  margin: 1.5em;
}
.t-padding-7 {
  padding: 1.75em;
}
.t-margin-7 {
  margin: 1.75em;
}
.t-padding-8 {
  padding: 2em;
}
.t-margin-8 {
  margin: 2em;
}
.t-padding-9 {
  padding: 2.25em;
}
.t-margin-9 {
  margin: 2.25em;
}
.t-padding-10 {
  padding: 2.5em;
}
.t-margin-10 {
  margin: 2.5em;
}
.t-padding-11 {
  padding: 2.75em;
}
.t-margin-11 {
  margin: 2.75em;
}
.t-padding-12 {
  padding: 3em;
}
.t-margin-12 {
  margin: 3em;
}
.t-padding-13 {
  padding: 3.25em;
}
.t-margin-13 {
  margin: 3.25em;
}
.t-padding-14 {
  padding: 3.5em;
}
.t-margin-14 {
  margin: 3.5em;
}
.t-padding-15 {
  padding: 3.75em;
}
.t-margin-15 {
  margin: 3.75em;
}
.t-padding-16 {
  padding: 4em;
}
.t-margin-16 {
  margin: 4em;
}
