$kbdcolor: mix(lightpink, red, 75%);
$colors: red green blue yellow cyan magenta white black pink purple lime orange teal indigo crimson;

body{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 95%;
}

.wrapper, .container{
	margin: 1%;
}

h1{font-size: 2em;}
h2{font-size: 1.75em;}
h3{font-size: 1.5em;}
h4{font-size: 1.375em;}
h5{font-size: 1.25em;}
h6{font-size: 1.125em;}

kbd{
	background-color: $kbdcolor;
}

blockquote{
	margin-left: 1%;
	border-left: 0.1em solid;
}

a:link, a:visited, a:hover, a:active{
	text-decoration: none;
}

.small{
	font-size: 0.9em;
}

.big{
	font-size: 1.1em;
}

@each $color in $colors{
	.#{$color}{
		color: #{$color};
	}
	.bg-#{$color}{
		background-color: #{$color};
	}
	.bg-hover-#{$color}:hover{
		transition: 0.5s ease-in-out;
		background-color: #{$color};
	}
	.hover-#{$color}:hover{
		transition: 0.5s ease-in-out;
		color: #{$color};
	}	
}

.button{
	padding: 0.25em;
	background-color: mix(cyan, blue, 90%);
	transition: 0.5s;
	&:hover{
		background-color: mix(cyan, blue, 70%)
	}
}

.softcorner{border-radius: 0.1em;}
.mediumcorner{border-radius: 0.25em;}
.roundcorner{border-radius: 1em;}

table.striped tr:nth-child(2n+2){
	background-color: mix(azure, blue, 90%);
}

table.bordered{
	border: 0.1em solid black;
	th, td{
		border: 0.1em solid black;
	}
}

table.border.bordercollapsed{
	border-collapse: collapse;
}

table.striped.hoverable tr:hover{
	transition: 0.5s;
	background-color: mix(azure, blue, 80%);
}

table.padded th,td{
	padding: 0.25em;
}

@for $i from 1 through 8{
	.padding-#{$i}{
		padding: #{$i/4}em;
	}
}

.nav li{
	display: inline;
}

.nav.bordered li{
	border-right: 0.1em solid;
	padding-right: 0.5em;
	
	&:last-of-type{
		border-right: none;
	}
}
