
body { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 95%; }

.wrapper, .container { margin: 1%; }

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.375em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.125em; }

kbd { background-color: #ff8890; }

blockquote { margin-left: 1%; border-left: 0.1em solid; }

a:link, a:visited, a:hover, a:active { text-decoration: none; }

.small { font-size: 0.9em; }
.big { font-size: 1.1em; }

.red { color: red; }
.bg-red { background-color: red; }
.bg-hover-red:hover { transition: 0.5s ease-in-out; background-color: red; }
.hover-red:hover { transition: 0.5s ease-in-out; color: red; }
.green { color: green; }
.bg-green { background-color: green; }
.bg-hover-green:hover { transition: 0.5s ease-in-out; background-color: green; }
.hover-green:hover { transition: 0.5s ease-in-out; color: green; }
.blue { color: blue; }
.bg-blue { background-color: blue; }
.bg-hover-blue:hover { transition: 0.5s ease-in-out; background-color: blue; }
.hover-blue:hover { transition: 0.5s ease-in-out; color: blue; }
.yellow { color: yellow; }
.bg-yellow { background-color: yellow; }
.bg-hover-yellow:hover { transition: 0.5s ease-in-out; background-color: yellow; }
.hover-yellow:hover { transition: 0.5s ease-in-out; color: yellow; }
.cyan { color: cyan; }
.bg-cyan { background-color: cyan; }
.bg-hover-cyan:hover { transition: 0.5s ease-in-out; background-color: cyan; }
.hover-cyan:hover { transition: 0.5s ease-in-out; color: cyan; }
.magenta { color: magenta; }
.bg-magenta { background-color: magenta; }
.bg-hover-magenta:hover { transition: 0.5s ease-in-out; background-color: magenta; }
.hover-magenta:hover { transition: 0.5s ease-in-out; color: magenta; }
.white { color: white; }
.bg-white { background-color: white; }
.bg-hover-white:hover { transition: 0.5s ease-in-out; background-color: white; }
.hover-white:hover { transition: 0.5s ease-in-out; color: white; }
.black { color: black; }
.bg-black { background-color: black; }
.bg-hover-black:hover { transition: 0.5s ease-in-out; background-color: black; }
.hover-black:hover { transition: 0.5s ease-in-out; color: black; }
.pink { color: pink; }
.bg-pink { background-color: pink; }
.bg-hover-pink:hover { transition: 0.5s ease-in-out; background-color: pink; }
.hover-pink:hover { transition: 0.5s ease-in-out; color: pink; }
.purple { color: purple; }
.bg-purple { background-color: purple; }
.bg-hover-purple:hover { transition: 0.5s ease-in-out; background-color: purple; }
.hover-purple:hover { transition: 0.5s ease-in-out; color: purple; }
.lime { color: lime; }
.bg-lime { background-color: lime; }
.bg-hover-lime:hover { transition: 0.5s ease-in-out; background-color: lime; }
.hover-lime:hover { transition: 0.5s ease-in-out; color: lime; }
.orange { color: orange; }
.bg-orange { background-color: orange; }
.bg-hover-orange:hover { transition: 0.5s ease-in-out; background-color: orange; }
.hover-orange:hover { transition: 0.5s ease-in-out; color: orange; }
.teal { color: teal; }
.bg-teal { background-color: teal; }
.bg-hover-teal:hover { transition: 0.5s ease-in-out; background-color: teal; }
.hover-teal:hover { transition: 0.5s ease-in-out; color: teal; }
.indigo { color: indigo; }
.bg-indigo { background-color: indigo; }
.bg-hover-indigo:hover { transition: 0.5s ease-in-out; background-color: indigo; }
.hover-indigo:hover { transition: 0.5s ease-in-out; color: indigo; }
.crimson { color: crimson; }
.bg-crimson { background-color: crimson; }
.bg-hover-crimson:hover { transition: 0.5s ease-in-out; background-color: crimson; }
.hover-crimson:hover { transition: 0.5s ease-in-out; color: crimson; }
.button { padding: 0.25em; background-color: #00e5ff; transition: 0.5s; }
.button:hover { background-color: #00b2ff; }

.softcorner { border-radius: 0.1em; }
.mediumcorner { border-radius: 0.25em; }
.roundcorner { border-radius: 1em; }

table.striped tr:nth-child(2n+2) { background-color: #d8e5ff; }
table.bordered { border: 0.1em solid black; }
table.bordered th, table.bordered td { border: 0.1em solid black; }
table.border.bordercollapsed { border-collapse: collapse; }
table.striped.hoverable tr:hover { transition: 0.5s; background-color: #c0ccff; }
table.padded th, td { padding: 0.25em; }

.padding-1 { padding: 0.25em; }
.padding-2 { padding: 0.5em; }
.padding-3 { padding: 0.75em; }
.padding-4 { padding: 1em; }
.padding-5 { padding: 1.25em; }
.padding-6 { padding: 1.5em; }
.padding-7 { padding: 1.75em; }
.padding-8 { padding: 2em; }

.nav li { display: inline; }
.nav.bordered li { border-right: 0.1em solid; padding-right: 0.5em; }
.nav.bordered li:last-of-type { border-right: none; }
